* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ffee00,
      0 0 82px #fff700, 0 0 92px #ff0000, 0 0 102px #ffd000;
  }
  20%,
  24%,
  55% {
    text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
      0 0 21px rgb(0, 0, 0), 0 0 42px #ffcc00, 0 0 82px #202020,
      0 0 92px #ff0000, 0 0 102px #ff0000;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ffee00,
      0 0 82px #fff700, 0 0 92px #ff0000, 0 0 102px #ffd000;
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff,
      0 0 10px rgb(251, 255, 0), 0 0 45px rgb(255, 247, 0),
      0 0 55px rgb(255, 153, 0), 0 0 70px rgb(255, 217, 0),
      0 0 80px rgb(255, 255, 0);
  }
}
